---
pagination:
  data: collections.resumes
  alias: resume
  size: 1
permalink: "/{% if resume.name != 'default' %}{{ resume.name | slugify }}/{% endif %}"
layout: layout/base.njk
keywords: resume, cv, about, personal, profile, portfolio, andele swierstra
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="mb-4">Hi, I'm Andele! Thank you for taking the time to view my resume.</p>
<p class="mb-4">I'm a flexible engineer with broad experience in different programming languages and technologies. I've worked in various .NET and web environments professionally, as well as data science and AI projects during my academic studies.</p>
<p class="mb-4">Along with strong knowledge of the technologies listed above, I also have experience with languages such as C, C++, Scala, and Rust. I love to learn new technologies, and I contribute to open source projects to improve my skills outside of my professional career.</p>
<p class="mb-4">Efficiency, clean code, and working with up-to-date best practices are important aspects of engineering to me. Automating my workflows helps me focus on creating instead of dealing with repetitive tasks.</p>
<p>I'm a very curious person and will keep asking questions until I really understand what's going on. Once something catches my interest, I will learn quickly and really bite down on the challenge to get up to speed fast.</p>