@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply text-husky-800 hover:text-husky-500 dark:text-husky-300 dark:hover:text-husky-400 underline;
}

.highlight {
  @apply bg-husky-100 dark:bg-husky-900 print:bg-transparent;
}

.with-border {
  @apply border border-husky-400 dark:border-husky-600;
}

.work-entry.current .dot {
  @apply bg-husky-800 dark:bg-husky-800;
}

.work-entry:nth-child(odd) {
  @apply self-end pl-12;
}

.work-entry:nth-child(even) {
  @apply self-start pr-12 text-right;
}

.work-entry:nth-child(odd) .dot-bg {
  @apply left-0 -translate-x-2/4;
}

@media print {
  /* Remove margin to prevent url/timestamp from being printed there */
  @page {
    size: auto;
    margin: 0mm;
    padding: 15mm 10mm 10mm;
  }

  /* Avoid breaking right after a header */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid-page;
  }

  /* Also print colored backgrounds */
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
