<section class="pb-8 break-inside-avoid">
  <h3 class="font-header font-semibold text-xl uppercase mb-6">Education</h3>
  <div class="space-y-6 border-l-2 border-dashed border-l-husky-400 dark:border-l-husky-600">
    {% for item in author.alumniOf %}
      <div class="relative">
        {% include "components/_decorative_shape.njk" %}
        <div class="ml-6">
          <h4 class="font-bold">{{ item.certification }}</h4>
          <p class="mt-2 text-sm">{{ item.org }}, {{ item.address.addressLocality }},{% if item.address.addressRegion | length %} {{ item.address.addressRegion }},{% endif %} {{ item.address.addressCountry }}</p>
          <time datetime="{{ item.year_start }}" class="mt-1 text-sm font-semibold">{{ item.year_start }}</time> - <time datetime="{{ item.year_end }}" class="mt-1 text-sm font-semibold">{{ item.year_end }}</time>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
