<section class="pb-8">
  <h3 class="font-header font-semibold text-md uppercase mb-6">Publications</h3>
  <div class="space-y-6 border-l-2 border-dashed border-l-husky-400 dark:border-l-husky-600">
    {% for item in author.publishes %}
      <div class="relative break-inside-avoid">
        {% include "components/_decorative_shape.njk" %}
        <div class="ml-6">
          <h4 class="font-bold"><a href="{{ item.link }}" class="link" rel="nofollow" target="_blank">{{ item.title }}</a></h4>
          <p class="mt-2 text-sm">{{ item.details }}</p>
          <time class="mt-1 text-sm font-medium" datetime="{{ item.date }}">{{ item.date }}</time>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
